<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- main menu -->
    <menuitem id="simple_production" name="Simple Production"/>
    <menuitem id="menu_simple_production" name="Products" parent="simple_production" sequence="1" action="simple_production_action"/>
    <menuitem id="menu_production_order" name="Production" parent="simple_production" sequence="2" action="production_action"/>
</odoo>